<div class="container">
    <h1 class="text-center">Crear Orden</h1>
    <div class="">
        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-group">
            <div class="mb-3">
                <label>Cliente:</label>
                <input type="text" class="form-control" formControlName="customerName">
            </div>
            <div class="mb-3">
                <label>Email:</label>
                <input type="email" class="form-control" formControlName="email">
            </div>
            <div formArrayName="products">
                <button (click)="agregarProducto()" class="btn btn-primary">+ Producto</button>
                @for (p of products.controls; track $index) {
                <div [formGroupName]="$index">
                    <div class="mb-3">
                        <label>Producto:</label>
                        <select class="form-control" formControlName="productId" (change)="onProductSelect($index)">
                            <option value="" selected disabled>-- Seleccione --</option>
                            @for (item of productos; track $index) {
                            <option [value]="item.id">{{item.name}}</option>
                            }
                        </select>
                    </div>
                    <div class="mb-3">
                        <label>Cantidad:</label>
                        <input type="number" class="form-control" formControlName="quantity" min="0" max="stock">
                    </div>
                    <div class="mb-3">
                        <label>Precio:</label>
                        <input type="number" class="form-control" formControlName="price" readonly>
                    </div>
                    <div class="mb-3">
                        <label>Stock:</label>
                        <input type="number" class="form-control" formControlName="stock" readonly>
                    </div>
                    <button (click)="quitarProducto($index)" class="btn btn-danger">- Producto</button>
                </div>
                }
            </div>
        </form>
    </div>
</div>